<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>search</title>
</head>
<body>
<h1>こんにちわんこ2</h1>

<form action="/" method="get">
  <input type="text" name="keyword">
  <input type="submit" value="決定">
</form>
<div>
  <%= @result %>
</div>


</body>
</html>